_diversos/prestador.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://localhost/GustavoMarinelli/services/prestador/prestadorSOAP.class.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/GustavoMarinelli/services/prestador/prestadorSOAP.class.php">

<types>
<xsd:schema targetNamespace="http://localhost/GustavoMarinelli/services/prestador/prestadorSOAP.class.php">
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

<xsd:complexType name="dadosSecType">
<xsd:sequence>
	<xsd:element name="username" type="xsd:string"/>
	<xsd:element name="password" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>

<xsd:element name="Security" type="tns:dadosSecType"/>

</xsd:schema>
</types>

<message name="buscar_prestador_servicosRequest">
	<part name="servico" type="xsi:int"/>
</message>
<message name="buscar_prestador_servicosResponse">
	<part name="retorno" type="xsi:string"/>
</message>

<message name="Security">
	<part name="sec" element="tns:Security"/>
</message>

<portType name="portType1">

	<operation name="buscar_prestador_servicos">
	
		<documentation>Buscar todos os prestadores de um determinado servico</documentation>
		
		<input message="buscar_prestador_servicosRequest"/>
		
		<output message="buscar_prestador_servicosResponse"/>
	</operation>
	
</portType>

<binding name="binding1" type="tns:portType1">

	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	
	<operation name="buscar_prestador_servicos">
		<soap:operation soapAction="" style="rpc"/>
		<input>
			<soap:body use="encode" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="prestador"/>
			
			<soap:header use="literal" message="tns:Security" namespace="prestador" part="sec"/>
			
		</input>
		
		<output>
			<soap:body use="encode" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="prestador"/>
		</output>
		
	</operation>
	
</binding>
<service name="prestadorSOAP">
	<port name="tns:portType1" binding="tns:binding1">
		<soap:address location="http://localhost/GustavoMarinelli/services/prestador/prestadorSOAP.class.php"/>
	</port>
</service>
</definitions>